.pokemon-card {
  position: relative;
  aspect-ratio: 2/3;
  border-radius: var(--radius-md);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  background: #2f2f2f;
}

.pokemon-card:hover {
  transform: scale(1.03);
  z-index: 5; /* reducir posibilidad de solaparse sobre botones */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

.pokemon-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    transparent 70%
  );
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  opacity: 1;
  transition: opacity 0.2s;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.card-types {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #ccc;
}
